.header {
  .logoRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    .logoBox {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .logo {
        font-size: 50px;
        color: gray;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .cart {
      position: relative;
      height: 60px;
      width: 70px;
      background: url("../img/cartImg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.02);
      }

      .productInCart {
        position: absolute;
        left: 28px;
        top: 1px;
        height: 29px;
        width: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 2px solid gray;
        border-radius: 50%;
        font-size: 15px;
        background-color: rgb(0, 230, 0);
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    .link {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 50px;
      width: 100%;
      color: white;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: rgb(0, 197, 0);
      }
      &_active {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 50px;
        width: 100%;
        color: green;
        cursor: default;
      }
    }
  }
}
